---
const { title, description, image, tag, link } = Astro.props;

type Props = {
  title: string;
  description: string;
  image: string;
  tag: Array<string>;
  link: string;
};
---

<a
  href={link}
  class="w-full block px-4 cursor-pointer py-4 border-b-2 border-gray-600 hover:bg-gradient-to-r from-slate-800 transition-colors card"
  target="_blank"
>
  <article>
    <header>
      <img src={image} alt="" class="w-full h-64 object-cover aspect-square" />
    </header>
    <h2 class="text-white text-xl font-medium py-2">{title}</h2>
    <p class="text-gray-400 font-light text-md">{description}</p>
  </article>
  <footer
    class="flex items-end justify-end w-full text-teal-500 font-light text-sm py-2"
  >
    {
      tag.map((t) => (
        <span class="px-2 py-1 rounded ml-2 border border-teal-400 text-xs md:text-base">
          {t}
        </span>
      ))
    }
  </footer>
</a>

<style>
  .card {
    --border-width: 2px;
    appearance: none;
    position: relative;
    border: 0;
    z-index: 2;
    list-style: none;
    margin-bottom: 24px;
  }

  .card::after {
    --m-i: linear-gradient(#000, #000);
    --m-o: content-box, padding-box;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: var(--border-width);
    border-radius: var(--border-radius);
    background-image: conic-gradient(
      #488cfb,
      #29dbbc,
      #ddf505,
      #ff9f0e,
      #e440bb,
      #655adc,
      #488cfb
    );
    -webkit-mask-image: var(--m-i), var(--m-i);
    mask-image: var(--m-i), var(--m-i);
    -webkit-mask-origin: var(--m-o);
    mask-origin: var(--m-o);
    -webkit-mask-clip: var(--m-o);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue linear 500ms infinite;
    animation-play-state: paused;
  }

  .card:hover::after {
    animation-play-state: running;
  }

  @keyframes rotate-hue {
    to {
      filter: hue-rotate(1turn);
    }
  }

  .card,
  .card::after {
    box-sizing: border-box;
  }

  .card:active {
    --border-width: 5px;
  }
</style>
